%p= "Dear #{@send_to.full_name},"
%p.inline
  - case @action
  - when "destroy"
    = t(:mailer)[:delete_intro]
  - when "add"
    = t(:mailer)[:add_intro]
  - when "update"
    = t(:mailer)[:update]
%p.inline
  %a.link{ href: @protocol_link }= t(:mailer)[:sparc_dashboard_period]
